{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Add book</h1>

    {{ include('book/_form.html.twig') }}

    <a href="{{ path('book_index') }}" class="btn btn-dark "><i class="fas fa-undo"></i> back to list</a>
{% endblock %}
